.container {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-areas: ". keys .";
  align-content: center;
  background-image: url("coldplay.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.keys {
  grid-area: keys;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 15px;
  justify-content: center;
}

.key {
  color: white;
  display: grid;
  border: 2px white solid;
  border-radius: 10px;
  padding: 0.5em;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px yellowgreen;
  cursor: pointer;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.5);
  grid-template-rows: 1px 1fr 10px 10px;
  grid-template-areas: "." "alpha" "name" ".";
}

.playing {
  transform: scale(1.8);
  border-color: hotpink;
  box-shadow: 0 0 10px cyan;
}

kbd {
  grid-area: alpha;
  font-size: 35px;
}

span.sound {
  grid-area: name;
  font-size: 20px;
  color: yellow;
}