* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1fr;
}

.container .clock {
  grid-column: 2;
  grid-row: 2;
  width: 30em;
  height: 30em;
  border-radius: 50%;
  background-color: lightcoral;
  border: 3px solid black;
  position: relative;
}

.clock .hand {
  background-color: black;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0%;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0, 1.37, 0.29, 1.03);
}

.clock .hour {
  transform: rotate(-90deg);
  width: 28%;
}

.clock .min {
  transform: rotate(-90deg);
  width: 38%;
}

.clock .sec {
  transform: rotate(-90deg);
  width: 48%;
}
